@page
@model IndexModel
@{
    ViewData["Title"] = "BillionDollarIdea"; // Selbsterklärend lol
}

<div class="text-center">
    <h1 class="display-4">Hamburger</h1>
    <a href="https://github.com/CakeClicker/BillionDollarIdea">Projekt Code</a>
</div>
